<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "codience tech blog", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "とっぷぺ〜じ", root_path %></li>
        <li><%= link_to "このサイトについて", about_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
        <li class="header-login-button"><%= link_to "アカウントを登録", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>